
#navbar .logo{
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li{
  float: none;
}

#navbar ul li a{
  padding: 5px;
}


#showcase{
  height: 400px;
}
#showcase .showcase-content{
  padding-top: 60px;
}
#showcase .showcase-content h1{
  font-size: 3rem;
}
#showcase .showcase-content p{
  font-size: 1rem;
}

#home-info .info-img{
  display: none;
}
#home-info .info-txt{
  float: none;
  width: 100%;
}

#features .box{
  float: none;
  width: 100%;
  overflow: hidden;
}


/* ABOUT */

#about-info .info-right,
#about-info .info-left{
  float: none;
  width: 100%;
}
#about-info .info-right img{
  margin-top: 30px;
}

#testimonials{
  padding-top: 50px;
}
#testimonials .testimonial{
  padding: 5px;
}

footer{
  background: #444;
  color: #fff;
  padding: 7px;
  margin-top: 100px;
  text-align: center;
}